.titulo{
    font-size: x-large;
}
.logo{
    height: 15vh;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    border: solid 3px black;
}
.container{
    font-size: x-large;
}
.col-sm-4{
    height: 100vh;
    display: flex;
    background-image: url('../img/5da04ca79ff85_XAHf43G__700.jpg');
    background-size: 80vh;
    background-repeat: no-repeat;
    background-position: center;
}
.col-sm-8{
    padding: 11vh;
    height: 100vh;
}
.imagen_fondo{
    background-image: url('../img/360_F_222999585_80FrXtHgRwFZOniKQzW637ZA7UZDBtzA.jpg');
    background-size: cover;
}
@media (max-width: 768px){
    .col-sm-4{
        background: none;
    }
    .col-sm-8{
        position: absolute;
        top: 16.5vh;
        text-align: center;
        font-size: smaller;
        left: 16vw;
    }
}
@media (max-width: 425px){
    .col-sm-8{
        position: absolute;
        top: 16.5vh;
        text-align: center;
        font-size: 18px;
        left: 0.25vw;
    }
    .d-block{
        height: 65vh;
    }
}
@media (max-width: 320px){
    .col-sm-8{
        position: absolute;
        top: 16.5vh;
        text-align: center;
        font-size: 15.5px;
        left: 0.25vw;
    }
}